@using BulkyBookWeb2.Models.Enums
@using System.Security.Claims
@model BulkyBookWeb2.Models.BooksFilteredByYearViewModel

@{
    ViewData["Title"] = "Books List of " + User.FindFirstValue(ClaimTypes.Name); // du s trang index cx chi dc hien khi va chi khi user da log in r nen la hien "book list of" cx ko so du chu "of"
    //ViewData["Title"] = "Books List of " + ViewData["UserName"];
}
<h1>@ViewData["Title"]</h1>

<p><small><i>Hiểu, nhớ, đoán, cảm, giọng văn</i></small></p>
<p><small><i>Tập trung, chi tiết, suy nghĩ</i></small></p>
<p><small><i>Thực tế, logic, cảm nhận</i></small></p>
<p><small><i>Suy luận, nghi ngờ, đoán</i></small></p>

<ul class="nav nav-tabs justify-content-end mb-2">
    @*dropdown list to filter book by: finished year/ not finished yet/ selected year*@
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(Model.SelectedYear != (int)FilteredByYearCriteria.ShowAll ? "active":"")" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            @if (Model.SelectedYear == (int)FilteredByYearCriteria.ShowAll)
            {
                <span>Filter by finished year</span>
            }
            else if (Model.SelectedYear == (int)FilteredByYearCriteria.NotFinishedYet)
            {
                <span>Not finished yet</span>
            }
            else
            {
                <span>@Model.SelectedYear</span>
            }
        </a>
        <ul class="dropdown-menu w-100">
            <form asp-controller="Books" asp-action="Index" method="get">
                @foreach (var year in Model.Years)
                {
                    if (year == (int)FilteredByYearCriteria.NotFinishedYet)
                    {
                    <li>
                            @*<input type="hidden" value="@((int)FilteredByYearCriteria.NotFinishedYet)" name="selectedYear" />*@
                            @*<input class="w-100 dropdown-item text-center not-finished-yet-selection" type="submit" value="@((int)FilteredByYearCriteria.NotFinishedYet)" name="selectedYear" />*@
                            @*<span>Not finished yet</span>*@

                            @*  <input
                                class="w-100 dropdown-item text-center not-finished-yet-selection"
                                type="submit"
                                value="Not finished yet"
                                name="selectedYear"
                                onclick="@Url.Action("Index","Books", new { selectedYear = (int)FilteredByYearCriteria.NotFinishedYet })" />*@
                        <a class="w-100 dropdown-item text-center"
                   href="@Url.Action("Index","Books", new { selectedYear = (int)FilteredByYearCriteria.NotFinishedYet })">
                            Not finished yet
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    }
                    else
                    {
                    <li><input class="w-100 dropdown-item text-center" type="submit" value="@year" name="selectedYear" /></li>
                    }
                }
                @*<li><a class="dropdown-item" asp-action="Index" asp-for="selectedYear">2022</a></li>*@
            </form>
        </ul>
    </li>
    @*  <select asp-for="selectedYear" asp-items="Model.Years">
        <option value="">Select finished year</option>
        </select>*@
    <li class="nav-item">
        <a asp-action="Index" class="text-right nav-link @(Model.SelectedYear == (int)FilteredByYearCriteria.ShowAll ? "active":"")">Show all</a>
    </li>
    <li class="nav-item">
        <a asp-action="Create" class="text-right nav-link"><i class="fa-solid fa-plus"></i> Create New</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                @*neu ma xai @Html.DisplayNameFor(model => model.Books[0].Name) thi bi warning nen m de co dinh la Name lun*@
                Name
            </th>
            <th>
                Author
            </th>
            <th>
                Start date
            </th>
            <th>
                Status
            </th>
            <th>
                Reviewed
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @if (Model.Books == null)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>No records</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
            @foreach (var item in Model.Books)
            {
                <tr>
                    @*<td>@{++i;}</td>*@
                    <td>@i</td>
                    <td>
                        <b>@item.Name</b>
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @if (!@item.StartDate.HasValue)
                        {
                            <span>&lt;Not started&gt;</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.StartDate)
                        }
                        @*@item.StartDate*@
                        @*neu xai dong duoi thi se ko hien thi chi moi ngay ko dc*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (@item.Review == null)
                        {
                            <i class="fa-solid fa-xmark"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-check"></i>
                        }
                    </td>
                    <td>
                        @if (@item.Price == null)
                        {
                            <span>&lt;Not entered&gt;</span>
                        }
                        else
                        {
                            @string.Format("{0:N0}", @item.Price) <span>VND</span>

                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                i++;
            }
    </tbody>
</table>

<div class="mt-3">
    <p><small><i>Sách self-help: Càng đọc không hiệu quả là càng phải đọc lại nhiều. Ưu tiên vc đọc lại để bthan tsu hiểu nắm áp tốt cho bthan đã hơn là đọc mới</i></small></p>
    <p><small><i>Sách ngoại văn: Từ vựng Nphap Ndung viết Cách viết Hỉu Nhớ Đoán Cảm Giọg văn</i></small></p>
    <p><small><i>Sách săn sale: Chưa có ebook Ndung Giảm giá Bìa Review</i></small></p>
</div>

<style>
    /*.not-finished-yet-selection::before {
            content: "Not finished yet"
            }*/
    .dropdown-menu {
        /*transform: translate(0px, 40px) !important*/
        top: -5% !important
    }
</style>